<div>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    width="569"
    height="698"
    viewBox="0 0 569 698"
    fill="none"
  >
    <path
      d="M0 1.5H568V340.5H147.5V539H396.5V697.5"
      stroke="white"
      stroke-width="2"
      stroke-dasharray="54 54"></path>
  </svg>

  <svg
    xmlns="http://www.w3.org/2000/svg"
    width="130"
    height="130"
    viewBox="0 0 130 130"
    fill="none"
    id="circle"
  >
    <circle
      cx="65"
      cy="65"
      r="63"
      stroke="white"
      stroke-width="4"
      fill="#0A0A0B"></circle>
  </svg>

  <svg
    xmlns="http://www.w3.org/2000/svg"
    width="130"
    height="130"
    viewBox="0 0 130 130"
    fill="none"
    id="circle2"
  >
    <circle
      cx="65"
      cy="65"
      r="63"
      stroke="white"
      stroke-width="4"
      fill="#0A0A0B"></circle>
  </svg>

  <svg
    xmlns="http://www.w3.org/2000/svg"
    width="130"
    height="130"
    viewBox="0 0 130 130"
    fill="none"
    id="circle3"
  >
    <circle
      cx="65"
      cy="65"
      r="63"
      stroke="white"
      stroke-width="4"
      fill="#0A0A0B"></circle>
  </svg>

  <svg
    xmlns="http://www.w3.org/2000/svg"
    width="130"
    height="130"
    viewBox="0 0 130 130"
    fill="none"
    id="circle4"
  >
    <circle
      cx="65"
      cy="65"
      r="63"
      stroke="white"
      stroke-width="4"
      fill="#0A0A0B"></circle>
  </svg>
</div>

<style>
  div {
    overflow: hidden;
    margin-top: 5rem;
    padding-top: 5rem;
    display: grid;
    place-items: center;
    position: relative;
  }

  #circle {
    position: absolute;
    top: 1rem;
    left: 20%;
  }
  #circle2 {
    position: absolute;
    top: 1rem;
    left: 66%;
  }
  #circle3 {
    position: absolute;
    top: 45%;
    left: 67%;
  }
  #circle4 {
    position: absolute;
    top: 45%;
    left: 32%;
  }
</style>
